.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: 'Montserrat' !important;
    font-size: 24px !important;
  }
}

.closeIcon {
  position: absolute !important;
  right: 0 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 50px !important;
  height: 50px !important;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.categoryWrapper {
  padding: 8px 16px !important;
  transition: opacity 0.3s !important;

  p {
    color: #fff !important;
    font-family: 'Montserrat' !important;
    font-weight: bold !important;
  }
}

.activeCategory {
  opacity: 0.3 !important;
}

.note {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fieldsWrapper {
  display: grid ;
  grid-template-rows: 100px 400px;
  transition: background-color 0.3s;
  border-radius: 16px;
  overflow: hidden;
}

.titleWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.7);
}